*{
    box-sizing: border-box;
}

.tool-bar{
    border-bottom: 0.8px rgb(145, 145, 145) solid;
}

#detail-products{
    display:flex;
    margin-top:40px; 
    gap: 25px; 
    flex-wrap: wrap;
    justify-content: center;
}

#product-list > div:nth-child(2) {
    text-align: center;
}

#product-list > div:nth-child(3) {
    text-align: center;
}

#product-list > div:nth-child(4) {
    text-align: center;
}

.header-grid{
    color: rgb(50, 50, 50); 
    padding-bottom: 7px;
    border-bottom: 0.5px rgba(50, 50, 50, 0.404) solid;
}

.col-product, .col-cantidad, .col-unidad, .col-total{
    padding:20px 0px; 
}

.col-cantidad, .col-unidad, .col-total{
    display:flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo{
    font-size: 25px;
    font-weight: bold;
    flex-wrap: wrap;

}

.referencia{
    font-size: 12px;
    color: rgb(50, 50, 50);
}
.num-unidades{
    border: 0.5px gray solid; 
    border-radius:5px; 
    padding: 5px;
    width: 35px;
    aspect-ratio: 1 / 1;
    display: flex; 
    justify-content: center; 
    align-items: center;


}

.selector-cantidad{
    display: flex;
    align-items: center;
    gap: 15px; 
}

#product-list{
    display:grid; 
    /* grid-template-columns: 40% 20% 20% 20%; */
    grid-template-columns: minmax(160px, 25%) minmax(120px, 25%) minmax(70px, 10%) minmax(80px, 10%);
    grid-auto-rows: auto;
    flex-wrap: wrap;
    width: 65%; 
}

#cart-table{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows:auto;
}

#cart-summary{
    display: flex;
    flex-direction: column;
    margin: 0px 5px; 
    flex-grow: 0.8;
}

#cart-total{
    display: flex;

}

.article {
    padding: 5px 0px; 
}

.total-article, .total-precio{
    padding: 10px 0px; 
    border-top: 0.5px gray solid; 
}
.precio, .total-precio{
    display:flex; 
    flex-direction: row;
    justify-content: end;
    align-items: center;

}
.total-precio{
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 768px) {
     #detail-products {
        flex-direction: column; 
        gap: 40px; 
     }

    #product-list, #cart-summary {
        width: 100%;
        margin: 0;
    }

    #product-list {
        grid-template-columns: 0.4fr auto auto auto;
        gap: 5px;
     } 
    
} 

