*{
    box-sizing: border-box;
}

.tool-bar{
    border-bottom: 0.8px rgb(145, 145, 145) solid;
}

#detail-products{
    display:flex;
    margin:40px; 
}

.header-grid{
    color: rgb(50, 50, 50); 
    padding-bottom: 7px;
    border-bottom: 0.5px rgba(50, 50, 50, 0.404) solid;
}

.col-product, .col-cantidad, .col-unidad, .col-total{
    padding:20px 0px; 
}

.articulo{
    font-size: 25px;
    font-weight: bold;
}

.referencia{
    font-size: 12px;
    color: rgb(50, 50, 50);
}
.num-unidades{
    border: 0.5px gray solid; 
    border-radius:5px; 
    padding: 5px;
    width: 15px;
    aspect-ratio: 1 / 1;

}

.selector-cantidad{
    display: flex;
}

#product-list{
    display:grid; 
    grid-template-columns: 40% 20% 20% 20%;
    grid-auto-rows: auto;
    width: 70%;
}

#cart-table{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows:auto;
}

#cart-summary{
    display: flex;
    flex-direction: column;

}

#cart-total{
    display: flex;

}